%ns1:Pedido
  %ns1:InfPedidoCancelamento{ Id: numero }
    %ns1:IdentificacaoNfse
      %ns1:Numero= numero
      %ns1:CpfCnpj
        %ns1:Cnpj= cnpj
      %ns1:InscricaoMunicipal= inscricao_municipal
      %ns1:CodigoMunicipio= codigo_municipio
    %ns1:CodigoCancelamento= 1
